html {
  scroll-behavior: smooth;
}

/* NAVABAR */
#main-navbar a {
  border-bottom: 5px solid #f8f9fa;
  text-transform: uppercase;
}

#mian-navbar a:hover,
#main-navbar .active {
    border-bottom-color:black ;
}

/* Show case */
#showcase {
  background: url(../img/showcase_bg.jpg);
  height: 600px;
  padding-top: 150px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#showcase h1 {
  padding-top: 150px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
}
